<!DOCTYPE html>
<html lang="ru">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}

        <script src="https://unpkg.com/zooming/build/zooming.min.js"></script>
        {{ $js := readFile "static/js/main.js" | sha256 }}
        <script src="/js/main.js?{{ substr $js 0 8 }}"></script>

        {{ if (eq (.Scratch.Get "comments") "true") }}
        {{ $cjs := readFile "static/js/comments.js" | sha256 }}
        <script src="/js/comments.js?{{ substr $cjs 0 8 }}"></script>
        <script src="/comments/web/embed.js" defer></script>
        {{ end }}

    </body>
</html>
